<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>ShortenUrl</title>
    <link rel="stylesheet" href="/ui.css" />
  </head>
  <body>
    <div id="wrap">
      <div id="header">
        <h1><a href="/">ShortenUrl</a></h1>
      </div>
      <div id="contents">
        <div class="urlBoxWrap">
          <div id="urlBox">
            <input id="url" type="text" placeholder="Paste link or url to input" />
          </div>
          <a id="btnCreateUrl" href="#">Create</a>
        </div>
        <div id="createdUrl">
          <a id="shortUrl" href="#none" target="_blank"><span></span></a>
          <a id="btnCopyUrl" href="#none" data-clipboard-target="#shortUrl">Copy</a>
        </div>
      </div>
    </div>

    <script src="/jquery-2.2.0.min.js"></script>
    <script src="/clipboard.min.js"></script>
    <script src="/ui.js"></script>
  </body>
</html>
