<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> ShortenUrl </title>
	<link rel="stylesheet" href="/public/ui.css">
</head>
<body>
	<div id="wrap">
		<div id="header">
			<h1><a href="/">ShortenUrl</a></h1>
		</div>
		<div id="contents">
			<div class="msgBox">something's wrong here<br />couldn't find a link</div>
			<a class="btnBack" href="/">go to creation page</a>
		</div>
	</div>
</body>
</html>
